@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.object-fit {
  object-fit: cover;
}

.pull-right {
  float: right;
  display: flex;
  justify-items: flex-end;
  border: 1px solid rgba(132, 129, 129, 0.315) !important;
}

.pull-right:hover {
  background-color: #0FAF97;

}